# Python
*.pyc
__pycache__/

# Environnement virtuel
env/
.venv/

# Fichiers de configuration
*.env

# Données volumineuses
data/
*.h5
*.model

# Cache et logs
*.log
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Autres
.DS_Store

# MLflow
mlruns

# BERT Models
2024-08-16_17-15-14-bert-model
2024-08-16_19-54-59-bert-model
2024-08-19_15-10-53-bert-model
2024-08-27_23-50-35-bert-model

# Perso
custom_w2v_model.weights.h5
bert_example.ipynb
bert predict.ipynb
example_notebook
model.weights.h5
stackoverflow_questions_cleaned.csv
stackoverflow_questions_test.csv
stackoverflow_questions_train.csv
stackoverflow_questions.csv
stackoverflow_test_tags_and_no_tags.csv
stackoverflow_train_tags_only.csv
USE_tensorflow_tuto
USE_transfer_learning_tuto
w2v_model.weights.h5
main_local.py
main_local_2.py
new_env/
temp.py
livrables/